@import "tailwindcss";

@font-face {
  font-family: "TransformaBold";
  src: url("/fonts/TransformaMix_SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Regular";
  src: url("/fonts/SFPRODISPLAYREGULAR.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

:root {
  --background: var(--color-primary);
}

@theme inline {
  /*===== Colorpalette =====*/
  --color-dark: oklch(21% 0.034 264.665);
  --color-caption: #1e2939;
  --color-accent-2: #2545b2;
  --color-body-header: #f3f4f6;
  --color-body-p: var(--color-body-header);
  --color-white-gradient: linear-gradient(
    209deg,
    #f4f6f9 26.79%,
    #eceef2 99.11%
  );
  --color-tag-bg: #4a5565;
  --color-tag-text: #f3f4f6;

  /*===== Spacing =====*/
  --spacing-xx-small: 0.125rem; /* 2px  */
  --spacing-x-small: 0.25rem; /* 4px  */
  --spacing-small: 0.5rem; /* 8px  */
  --spacing-medium: 1rem; /* 16px */
  --spacing-large: 2rem; /* 32px */
  --spacing-x-large: 4rem; /* 64px */
  --spacing-sections: clamp(4rem, 2.5733rem + 7.0022vw, 8rem); /* 128px */
  --spacing-negative: clamp(2rem, -2.2801rem + 21.0066vw, 14rem); /* 224px */

  --spacing-button: ;
  --spacing-card: ;
  --spacing-caption: ;

  /*===== Font =====*/
  --font-header: "SF Pro Regular", serif;
  --font-subheader: "SF Pro Regular", serif;
  --font-subheader-bold: "SF Pro Regular", serif;
  --font-subheader-bold-italic: "AppleGaramond-BoldItalic", serif;
  --font-body-text: "SF Pro Regular", sans-serif;
  /*===== Font-size =====*/
  --text-h1: clamp(2.4413rem, 1.1798rem + 6.3071vw, 6.8563rem);
  --text-h2: clamp(1.9531rem, 1.3004rem + 3.2634vw, 4.2375rem);
  --text-h3: clamp(1.5625rem, 1.2607rem + 1.5089vw, 2.6188rem);
  --text-h4: clamp(1.5625rem, 1.2607rem + 1.5089vw, 1.5188rem);
  --text-paragraph: 1rem;
  --text-button: var(--text-paragraph);
  --text-label: var(--text-paragraph);
  --text-blockquote: clamp(1.62rem, 1.1474rem + 2.3195vw, 2.945rem);
  --text-tag: clamp(0.6188rem, 0.8518rem + -0.2589vw, 0.8rem);

  /*===== Font-weight =====*/
  /*===== Lineheight =====*/
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*===== Fixed Rules =====*/
html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: var(--font-header);
  color: var(--color-body-header);
}

header > h2:only-child {
  font-size: var(--color-body-header);
  font-family: "TransformaBold";
}
header div + h2 {
  font-size: var(--color-body-header);
}
h3 {
  font-size: var(--text-h2);
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4pt;
}

blockquote {
  font-size: var(--text-blockquote);
}

p {
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4pt;
  font-size: var(--text-paragraph);
}

.tag-text {
  font-size: var(--text-tag);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4pt;
}

h4 {
  font-size: var(--text-h3);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4pt;
}
