@import "tailwindcss";

@font-face {
  font-family: "TransformaBold";
  src: url("/fonts/TransformaMix_SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Regular";
  src: url("/fonts/SFPRODISPLAYREGULAR.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

:root {
  --background: var(--color-primary);
}

@theme inline {
  /*===== Colorpalette =====*/
  --color-body-text: #463530;
  --color-primary-1: #fffefd;
  --color-primary-2: #faf7ee;
  --color-primary-3: #d3cfc4;
  --color-secondary-1: #ed95ba;
  --color-secondary-2: #e35029;
  --color-secondary-3: #f8d505;
  --color-secondary-4: #8ee329;
  --color-accent-1: #2954e3;
  --color-accent-2: #2545b2;

  /*===== Spacing =====*/
  --spacing-xx-small: 2px;
  --spacing-x-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: clamp(2rem, -1.4286rem + 17.1429vw, 14rem);
  --spacing-x-large: 40px;
  --spacing-xx-large: 64px;
  --spacing-negative: 224px;
  --spacing-button: 0.7rem 1.4rem;

  /*===== Font =====*/
  --font-header: "TransformaBold", serif;
  --font-subheader: "AppleGaramond", serif;
  --font-subheader-bold: "AppleGaramond-Bold", serif;
  --font-subheader-bold-italic: "AppleGaramond-BoldItalic", serif;
  --font-body-text: "Archia-Regular", sans-serif;
  /*===== Font-size =====*/
  --text-h1: clamp(2.4413rem, 1.1798rem + 6.3071vw, 6.8563rem);
  --text-h2: clamp(1.9531rem, 1.3004rem + 3.2634vw, 4.2375rem);
  --text-h3: clamp(1.5625rem, 1.2607rem + 1.5089vw, 2.6188rem);
  --text-paragraph: 1.6rem;
  --text-button: var(--text-paragraph);
  --text-label: var(--text-paragraph);
  --text-blockquote: clamp(1.62rem, 1.1474rem + 2.3195vw, 2.945rem);
  --text-tag: clamp(0.6188rem, 0.8518rem + -0.2589vw, 0.8rem);
  /*===== Font-weight =====*/
  /*===== Lineheight =====*/
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*===== Fixed Rules =====*/
body {
  background: var(--color-primary-1);
}

h1 {
  font-size: var(--text-h1);
  font-family: "TransformaBold";
}

header > h2:only-child {
  font-size: var(--text-h2);
  font-family: "TransformaBold";
}
header div + h2 {
  font-size: var(--text-h2);
}
h3 {
  font-size: var(--text-h3);
}

blockquote {
  font-size: var(--text-blockquote);
}

button,
a,
p,
li,
h4 {
  font-family: "SF Pro Regular";
}

li {
  list-style: none;
}

.brown-shadow {
  box-shadow: 0px 15px 4px 0px rgba(70, 53, 48, 0),
    0px 9px 4px 0px rgba(70, 53, 48, 0.01),
    0px 5px 3px 0px rgba(70, 53, 48, 0.05),
    0px 2px 2px 0px rgba(70, 53, 48, 0.09),
    0px 1px 1px 0px rgba(70, 53, 48, 0.1);
}

/*===== GSAP Classes =====*/

.line {
  overflow: hidden;
}

/*===== Pesudo Elements =====*/

.asset-moon::before {
  content: "";
  position: absolute;
  inset: 15% 0 0 -11%;
  width: 5rem;
  height: 5rem;
  pointer-events: none;
  background: url("/img/icons/moon.svg") no-repeat center / contain;
  z-index: 1;
  animation: fadeIn 4s ease 2s normal forwards, rotation 25s linear infinite;
  opacity: 0;
  transform: scale(0.5);
}

.asset-wheel::after {
  content: "";
  position: absolute;
  inset: 65% 0 0 85%;
  width: 5rem;
  height: 5rem;
  pointer-events: none;
  background: url("/img/icons/wheel.svg") no-repeat center / contain;
  animation: fadeIn2 6s ease 3s normal forwards, rotation2 25s linear infinite;
  opacity: 0;
  transform: scale(0.5);
}
.asset-moon2::before {
  content: "";
  position: absolute;
  inset: -60% 0 0 0%;
  width: 5rem;
  height: 5rem;
  pointer-events: none;
  background: url("/img/icons/moon2.svg") no-repeat center / contain;
  z-index: -1;
}

.asset-misc::after {
  content: "";
  position: absolute;
  inset: 65% 0 0 85%;
  width: 8rem;
  height: 8rem;
  pointer-events: none;
  background: url("/img/icons/misc2.png") no-repeat center / contain;
}

/*===== Animations =====*/

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotation2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
